<div class="controls">
  <div class="search-container">
    <input type="text" [value]="searchText()" (input)="onSearchTextChange($event)" placeholder="Search for products...">
  </div>
  <div class="dropdown-container">
    <label for="pageSizeSelect">Results per page:</label>
    <select id="pageSizeSelect" [value]="pageSize()" (change)="onPageSizeChange($event)">
      @for(size of pageSizes; track size){
      <option  [value]="size">{{ size }}</option>
      }
    </select>
  </div>
</div>

