<div class="d-flex align-items-center mb-3">
  <img [src]="item.product.thumbnail" alt="{{ item.product.title }}" class="img-thumbnail" width="50">
  <div class="ms-3">
    <h6>{{ item.product.title }}</h6>
    <p>Price: {{ item.product.price | currency:'EUR' }}"></p>
    <div class="d-flex align-items-center">
      <button class="btn btn-secondary" (click)="decreaseQuantity()" [disabled]="quantity() <= 1">-</button>
      <input type="number" [value]="quantity()" (change)="updateQuantity($event)" class="form-control mx-2" style="width: 50px;">
      <button class="btn btn-secondary" (click)="increaseQuantity()">+</button>
    </div>
    <button class="btn btn-danger mt-2" (click)="removeFromCart()">Remove</button>
  </div>
</div>
